<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masonry Responsive Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/home/css/normalize.css">
    <link rel="stylesheet" href="/home/css/font-awesome.css">
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/css/templatemo-style.css">

    <link rel="stylesheet" href="/fenye/css/myPage.css">

    <script src="/fenye/js/jqPaginator.min.js"></script>
    <script src="/fenye/js/myPage.js"></script>
    <script src="/home/js/vendor/modernizr-2.6.2.min.js"></script>

    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/loadmore/js/drop/dropload.css">

    <style type="text/css">
        em {
            font-style: normal;
            color: #c00;
        }

        .box{
            width: 100%;
            padding: 10px;
            border: 0.1px solid rgba(215, 215, 215, 0.95);
            outline: 0;
            z-index: 4;
            background: rgba(0,0,0,0.8);
        }


    </style>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="loader-wrapper">
    <div id="loader"></div>
</div>

<div class="content-bg"></div>
<div class="bg-overlay"></div>

<!-- SITE TOP -->
<div class="site-top">
    <div class="site-header clearfix">
        <div class="container">
            <a href="#" class="site-brand pull-left"><strong>Masonry</strong> Free Template</a>
            <div class="social-icons pull-right">
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-behance"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                </ul>
            </div>
        </div>
    </div> <!-- .site-header -->
    <div class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <h2>Get free templates from <span class="blue">template</span><span class="green">mo</span></h2>
                    <p>Masonry is free responsive template that can be used for any website. You may download, modify
                        and use this layout for your personal or commercial websites. Please tell your friends about our
                        website. Thank you for visiting us.</p>
                </div>
            </div>
            <div class="row">
                <form action="/search_match" method="get" class="subscribe-form">
                    <fieldset class="col-md-offset-4 col-md-3 col-sm-8">
                        <input type="text" id="subscribe-email" name="match_words" placeholder="请输入租房地点...">
                    </fieldset>
                    <fieldset class="col-md-5 col-sm-4">
                        <input type="submit" id="subscribe-submit" class="button white" value="搜索">
                    </fieldset>
                </form>
            </div>
        </div>
    </div> <!-- .site-banner -->
</div> <!-- .site-top -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>
<!-- MAIN POSTS -->
<div class="main-posts">
    <div class="container" id="container">

        <% hourselist.forEach(function(item){ %>

        <div class=" box">
            <h5><%= item.datatime %></h5>

            <% if(index_type == 0){ %>
            <h4><a target="_blank" href="/hourse_detail?hourse_id=<%= item.hourse_id %>"><%- item.title %></a></h4>

            <% } else { %>
            <h4><a target="_blank"
                   href="/hourse_detail?hourse_id=<%= item.hourse_id %>&query_word=<%= query_word %>"><%- item.title %></a>
            </h4>

            <% } %>
        </div>

        <% }) %>

    </div>

    <% if (more == 0){ %>
    <button class="more-btn" onclick="getmore()">更多</button>
    <% } %>
</div>

<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright-text">京ICP备17041129号
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/home/js/min/plugins.min.js"></script>
<script src="/home/js/min/main.min.js"></script>

<script src="/loadmore/js/drop/dropload.js"></script>
<script src="/loadmore/js/drop/dropload.min.js"></script>
<script src="/loadmore/js/zepto.min.js"></script>
<!--<script src="/loadmore/js/jquery.min.js"></script>-->

<!-- Preloader -->
<script>
    //<![CDATA[
    $(window).load(function () { // makes sure the whole site is loaded
        $('#loader').fadeOut(); // will first fade out the loading animation
        $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow-y': 'visible'});


    })


    function getmore() {

        var id = '<%= scrollid %>';

        if (!id) {
            return;
        }
        $.ajax({
            type: 'get',
            url: '/search_more',
            dataType: 'json',
            data: {scrollId: id},
            success: function (data) {


                if (data.code == 0) {
                    var arrLen = data.hourselist.length;

                    id = data.scrollid;
                    var result = '';
//                        if(arrLen > 0){

                    data.hourselist.forEach(function (item) {

                        result += '<div class="title-over">'
                                + '  <div class=" box">'
                                + '<h5>' + item.datatime + '</h5>'
                                + '<h4><a target="_blank" href="/hourse_detail?hourse_id=' + item.hourse_id + '">' + item.title + '</a></h4>'
                                + '</div>'
                                + '</div>';
                    });

                    // 如果没有数据
//                        }else{
//                            // 锁定
//                            me.lock();
//                            // 无数据
//                            me.noData();
//                        }
                    $('#container').append(result);
                }


//                        // 为了测试，延迟1秒加载
//                        setTimeout(function(){
//                            // 插入数据到页面，放到最后面
//
//                            // 每次数据插入，必须重置
//                            me.resetload();
//                        },0);
            },
            error: function (err, type) {
                alert('Ajax error!' + err.toString());
                // 即使加载出错，也得重置
//                        me.resetload();
            }
        });
    }
    //]]>
</script>


<script>
    //            $(function(){
    //                // 页数
    //                var page = 0;
    //                // 每页展示5个
    //                var size = 3;
    //
    //                // dropload
    //                $('.content').dropload({
    //                    scrollArea : window,
    //                    loadDownFn : function(me){
    //                        page++;
    //                        // 拼接HTML
    //                        var result = '';
    //
    //                        $.ajax({
    //                            type: 'GET',
    //                            url: 'http://ons.me/tools/dropload/json.php?page='+page+'&size='+size,
    //                            dataType: 'json',
    //                            success: function(data){
    //                                var arrLen = data.length;
    //
    //                                if(arrLen > 0){
    //                                    for(var i=0; i<arrLen; i++){
    //                                        result +=   '<div class="post-masonry col-md-4 col-sm-6">'
    //                                                +'<div class="post-thumb">'
    //                                                +'<img src="/home/images/1.jpg" alt="">'
    //                                                +'<div class="title-over">'
    //                                                +'<h4><a href="#">Title one goes here</a></h4>'
    //                                        +'</div> <div class="post-hover text-center">'
    //                                                +'<div class="inside">'
    //                                                +'<i class="fa fa-plus"></i>'
    //                                               +'<span class="date">25 Jan 2084</span>'
    //                                        +'<h4><a href="#">Title one goes here</a></h4>'
    //                                        +'<p>Cum sociis natoque penatibus et magnis dis parturient</p>'
    //                                        +'</div> </div> </div> </div>'
    //                                    }
    //                                    // 如果没有数据
    //                                }else{
    //                                    // 锁定
    //                                    me.lock();
    //                                    // 无数据
    //                                    me.noData();
    //                                }
    //                                // 为了测试，延迟1秒加载
    //                                setTimeout(function(){
    //                                    // 插入数据到页面，放到最后面
    //                                    $('.more').append(result);
    //                                    // 每次数据插入，必须重置
    //                                    me.resetload();
    //                                },0);
    //                            },
    //                            error: function(xhr, type){
    //                                alert('Ajax error!');
    //                                // 即使加载出错，也得重置
    //                                me.resetload();
    //                            }
    //                        });
    //                    }
    //                });
    //            });
</script>
<!-- templatemo 434 masonry -->
</body>
</html>